name: yo-ong-pull-request

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: ["main"]

jobs:
  Test:
    name: Lint Check
    runs-on: self-hosted

    steps:
      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 10.12.3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm run lint
